extends layout

block append header

block append content
	.center
		span#disconnect_notifier hello there
	#header
		h3#title Artichoke

	#editor
	#youtokbox.tokbox
	#tokboxes
	#footer.form-inline
		.input-append
			input(type='text', id="hash", placeholder="filepath")
			a.btn: i.icon-pencil
			//
		| 
		.btn-group
			a.btn: i.icon-hdd
			a.btn: i.icon-trash
			
		#filepath untitled
		
		.pull-right.btn-group
			a.btn#addFriend: i.icon-envelope
			a.btn#startVideo
				i.icon-facetime-video
	.hide
		#addFriendHTML
			.input-append
				input(type="email")
				a.btn send
		#fileBrowse
