extends layout

block append header

block append content
	.center
		span#disconnect_notifier hello there
	#header
		h3#title Artichoke

	#editor
	#youtokbox.tokbox
	#tokboxes
	#footer.form-inline
		.input-append
			input(type='text', id="hash", placeholder="filepath", readonly)
			a.btn save
			a.btn change file
		| 
		.btn-group
			a.btn#addFriend invite friend
	
	.hide
		#addFriendHTML
			.input-append
				input(type="email")
				a.btn send
		#fileBrowse
