extends layout

block content
	.center
		span#disconnect_notifier hello there
	#header
		h3#title Artichoke

	#editor
	#youtokbox.tokbox
	#tokboxes
	#footer.form-inline
		.input-append
			input(type='text', id="hash", placeholder="filepath", readonly)
			a.btn save
			a.btn change file
		| 
		.btn-group
			a.btn invite friends