extends layout

block content
	#disconnect_notifier Disconnected from the Server...
	#header Artichoke Editor for Node

	#editor.
		function foo(items) {
			var i;
			for (i = 0; i < items.length; i++) {
				alert("Ace Rocks " + items[i]);
			}
		}
	.tokbox
		#youtokbox
