extends editor_layout

block append header
	title Artichoke Editor

block append content
	.center
		span#disconnect_notifier hello there
	#header
		h3#title(style='display:inline-block;') Artichoke
		#filepath(style='display:inline-block;') /file.js

	#editor
	#youtokbox.tokbox
	#tokboxes
	#footer.form-inline
		.pull-right.btn-group
			a.btn#addFriend: i.icon-envelope
			a.btn#startVideo
				i.icon-facetime-video
		//.input-append
			input(type='text', id='hash', placeholder='filepath')
			a.btn#pencil: i.icon-pencil
		include syntax
		p github login and dropbox coming soon

		//.btn-group
			a.btn#hdd: i.icon-hdd
			a.btn#trash: i.icon-trash

block append scripts
	script
		$(function(){
			// Extract the user github data sent from the server
			var gh = JSON.parse(!{JSON.stringify(github)});
			console.log(gh);
		});