extends layout

block append header

block append content
	.center
		span#disconnect_notifier hello there
	#header Artichoke - an editor for node.js 
		.file /untitled

	#editor
	#youtokbox.tokbox
	#tokboxes
	#footer
		#host_txt(style='display:inline-block') host: 
		#host(style='display:inline-block; margin-left:5px;')