extends editor_layout

block append header
	title Artichoke Editor
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300', type='text/css')

block append content
	.center
		span#disconnect_notifier hello there
	#header
		h3#title(style='display:inline-block;') Artichoke
		#filepath(style='display:inline-block;') /file.js

	#editor
	#youtokbox.tokbox
	#git_box
		span
			a Git Commit
			input#git_msg(placeholder="Commit Message...")
	#tokboxes
	#footer.form-inline
		.pull-right.btn-group
			a.btn#addFriend: i.icon-envelope
			a.btn#startVideo
				i.icon-facetime-video
		//.input-append
			input(type='text', id='hash', placeholder='filepath')
			a.btn#pencil: i.icon-pencil
		//include syntax

		//.btn-group
			a.btn#hdd: i.icon-hdd
			a.btn#trash: i.icon-trash

block append scripts
	script
		$(function(){
			// Auto-focus on the editor on page load
			$('#editor .ace_text-input').focus();
			// Extract the user github data sent from the server
			var gh = JSON.parse(!{JSON.stringify(github)});
			console.log(gh);
			$(document).keydown(function(btn){
				if(event.ctrlKey || event.metaKey) {
					$('#git_box').fadeToggle(function(){
						console.log($('#git_box').css('display'));
						if($('#git_box').css('display') !== 'none'){
							$('#git_msg').focus();
						} else {
							$('#editor .ace_text-input').focus();
						}
					});
					//console.log(btn);
					/*switch (String.fromCharCode(event.which).toLowerCase()) {
						case 's':
							event.preventDefault();
							alert('ctrl-s');
							break;
						case 'f':
							event.preventDefault();
							alert('ctrl-f');
							break;
						case 'g':
							event.preventDefault();
							alert('ctrl-g');
							break;
					}*/
				}
			});
		});