extends layout

block append header

block append content
	.center
		span#disconnect_notifier hello there
	#header
		h3#title(style='display:inline-block;') Artichoke
		#filepath(style='display:inline-block;') /README

	#editor
	#youtokbox.tokbox
	#tokboxes
	#footer.form-inline
		.input-append
			input(type='text', id='hash', placeholder='filepath')
			a.btn#pencil: i.icon-pencil
		| 
		.btn-group
			a.btn#hdd: i.icon-hdd
			a.btn#trash: i.icon-trash
		
		.pull-right.btn-group
			a.btn#addFriend: i.icon-envelope
			a.btn#startVideo
				i.icon-facetime-video
	.hide
		#addFriendHTML
			.input-append
				input(type='email')
				a.btn send
		#fileBrowse
