doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    script(src="/nowjs/now.js")

  body
    block content


  script(src="/js/jquery-1.8.3.min.js")
  //script(src="/js/underscore-min.js")
  //script(src="/js/backbone-min.js")
  //script(src="/js/bootstrap.min.js")
  script(src="/js/main.js")
  script(src="/js/nowJSclient.js")