body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #272822;
}
#header {
  position: fixed;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px;
  color: white;
  border-left: 40px #2f3129 solid;
}
#editor {
  position: absolute;
  margin: 0;
  top: 60px;
  right: 264px;
  bottom: 0;
  left: 0;
}
#tokbox {
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: white;
}
.red {
  background-color: red;
}
#disconnect_notifier {
  background: black;
  border: 1px green solid;
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  width: 300px;
  posiiton: fixed;
}
